/* I think a lot of this code is more manual than it needs to be, in terms of padding/margin size, and using padding to make the media query work properly */

:root {
    --teal: rgb(62, 190, 169);
    --blue: rgb(36, 78, 163);
}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.header {
    padding: 20px;
    background-color:  var(--teal);
    color: var(--blue);
}

.header h1 {
    display: inline;
    font-size: 3rem;
}

.header h1 span {
    color: white;
}

.header img {
    float: right;
    display: inline;
    width: 5%;
    min-width: 100px;
}

nav {
    display: flex;    
    background-color: var(--teal);
    font-size: 20px;
    padding-bottom: 20px;
}

nav a {
    margin-left: 20px;
    text-align: center;
}

figure {
    position: relative;
}

figure h2 {
    position: absolute;
    font-size: 2rem;
    right: 30px;
    color: white;
}

figure img {
    width: 100%;
}

.card {
    display: flex;
    position: relative;
    padding: 10px 10px;
}

.card h2 {
    display: flex;
    font-size: 2rem;
    position: absolute;
    height: 75%;
    width: 15%;
    margin-left: 1%;
    border-right: 3px solid var(--blue);
}

.card article {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 20%;
    width: auto;
}

.card .articles {
    display: inline-flex;
    flex-wrap: wrap;
    width: auto;
    min-height: 100px;
}

.card ul {
    display: inline-flex;
    padding: 0px;
    list-style-type: none;
}

.card ul li {
    display: inline-flex;
    padding: 0px;
    margin: 10px;
    list-style-type: none;
}

#about-me p {
    margin: 10px;
}

#study-link {
    display: inline-flex;
    font-size: 1.5rem;
    background-image: url(./images/studyguide.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid var(--blue);
    height: 216px;
    width: 384px;
}

#study-link:hover {
    opacity: 0.5;
}

#landing-link {
    display:inline-flex;
    font-size: 1.5rem;
    background-image: url(./images/landingpad.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 5px solid var(--blue);
    height: 136px;
    width: 182px;
}

#landing-link:hover {
    opacity: 0.5;
}

#brewery-link {
    display:inline-flex;
    font-size: 1.5rem;
    background-image: url(./images/03_22_BIE_Ukraine_Beer_HERO_955452498_1920x1280.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 5px solid var(--blue);
    height: 136px;
    width: 182px;
}

#brewery-link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .card h2 {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .card article {
        flex-direction: column;
        margin: 0;
        padding: 50px 50px;
    }
    .card ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 568px) {
        nav {
        flex-direction: column;
    }
}